/* card component */
.card {
	width: 100%;
	display: flex;
	padding: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.card > .title {
	font-size: 18px;
}

.card > .description,
.card > p {
	font-size: 14px;
	font-weight: 300;
}

/* css object */
.cssobject {
	padding: 10px 20px;
}

.cssobject pre {
	background-color: lightgray;
	font-size: 12px;
	margin: 10px 5px;
	padding: 20px;
	overflow-x: auto;
	border-radius: 5px;
}
